//body{max-height: 960px;}

@mixin margins ($ml,$mr,$mt){
    margin-left: $ml;
    margin-right: $mr;
    margin-top: $mt;
}
.main{
    width: 1440px;
.image{
    @include margins(230/1440*100%,0% ,96/1440*100% );
    
    width: 505/1440*100%;
    height: 330/1440*100%;
    float: left
    
}

.block{
    @include margins(95/1440*100%, 230/1440*100%, 136/1440*100%);
    
    width: 380/1440*100%;
    
    float: left;
    font-family: Roboto;
    
    p{
        text-align: justify;
        font-weight: 300;
        font-size: 16px;
        margin-top: 0%;
        line-height: 150%;
        margin-bottom:32/380*100%;
        
        
    }
        
    h1{
        font-weight: 700;
        font-size: 42px;
        margin-top: 0%;
        line-height: 120%;    
    }
    margin-bottom: 0%;
    max-height: 250/1440*100%;
        
    
}
.button{
    font-size: 16px;
    font-weight: 700;
    padding-left: 40/380*100%;
    
    padding-right: 40/380*100%;
    padding-top: 16/380*100%;
    padding-bottom: 16/380*100%;
    border-radius: 32px;
    //width: 128/1440*100%;
    height: 48/1440*100%;
    //margin-left: 95/1440*100%;
    
    float: left;
    //margin-right: 482/1440*100%;
    background-color: #e4c1ae;
    color: white;
//        border-color: #e4c1ae;
    border: solid;
   

}
}
.shadow{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;

}

.popup{
    display: none;
    position: absolute;
    left: 260/1440*100%;
    top: 375/960*100%;
    width: 920/1440*100%;
    height: 210/960*100%;
    background-color: white;
    color: black;
    font-family: Roboto;
    .cross{
        width: 24/920*100%;
        
        float: right;
        margin-right: 40/920*100%;
        margin-top: 40/920*100%;
    }
    
    
    
    .allpoptext{
        position: absolute;
        left: 95/920*100%;
        top: 56/210*100%;
        width: 380/920*100%;
        height: 98/210*100%;
        margin-right: 0%;
        .pop_text{
        
            font-size: 16px;
            font-weight: 300;
            span{
                font-weight: 600;
            }
            margin-bottom: 0%;
            margin-top: 24/920*100%;

        }
        h1{
            font-size: 42px;
            font-weight: 700;
            
            margin-top: 0%;
            
            
    
        }
    }
    .reset{
        display: none;
        background-color: #e4c1ae;
        color: white;
        border: solid;
        border-radius: 32px;
        position: absolute;
        left: 90%;
        top: 60%;
        margin-right:40/1400*100% ;
        margin-top: -10/960*100%;
        font-size: 16px;
        font-size: 16px;
        font-weight: 700;
        padding-left: 10/920*100%;
    
        padding-right: 10/920*100%;
        padding-top: 4/210*100%;
        padding-bottom: 4/210*100%;
    }
}

