.image{
    margin-left: 230/1440*100%;
    margin-right: 705/1440*100%;
    margin-top: 96/960*100%;
    margin-bottom: 534/960*100%;
    width: 505/1440*100%;
    height: 330/960*100%;
    float: left;
}